@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container{
  text-align: center;
}

.progress-container{
  display:flex;
  justify-content: space-between;
  position:relative;
  max-width:100%;
  width: 350px;
  margin-bottom:30px;
}

.progress-container::before{
  content:'';
  height: 4px;
  background-color: #eee;
  position: absolute;
  top:50%;
  left:0%;
  transform: translateY(-50%);
  width:100%;
  z-index:-1;
}

.progress{
  height:4px;
  width:0%;
  background-color: crimson;
  position:absolute;
  top:50%;
  left:0;
  z-index:1;
  transform: translateY(-50%);
  transition: .4s ease;
}



.circle{
  border:3px solid #eee;
  width:24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  background-color: #fff;
  font-size: 12px;
  z-index: 2;
  transition: all .4s ease;
}

.circle.active{
  border-color:crimson;
 
}

.btn{
  background-color:darkcyan;
  border:0;
  padding:6px 10px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.btn:disabled{
  background-color: #ccc;
  cursor:default;
}
